/*--------------------------------------------------------------------------------------*/

/* General settings for the whole page */
body, html {
  height: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-align: center;
}

tr, td, th {
	padding: 15px;
	margin: 5px;
	vertical-align: top;
	border: none;
	background-color: #FFFFFF; /* White */
}

/*--------------------------------------------------------------------------------------*/

/* General parallax settings */
.parallax {
  /* The image used */
  background-image: url("/images/parallax.jpg");

  /* Set a specific height and width */
  min-height: cover;
  min-width: cover;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/*--------------------------------------------------------------------------------------*/

.container {
  display: inline-block;
  cursor: pointer;
}

/* General settings for the menu icon */
.menu1, .menu2, .menu3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .menu1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .menu2 {
  opacity: 0;
}

/* Rotate last bar */
.change .menu3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/*--------------------------------------------------------------------------------------*/

/* General settings for the typewriter text */
.typewriter {
  font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
}

/*--------------------------------------------------------------------------------------*/
